<!-- prettier-ignore -->
{% extends "dashboard/staff/base_staff.html" %}
{% block title %}Merchants{% endblock %}

{% block content %}
<h2>Merchant List</h2>

<table class="styled-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>KYC Progress</th>
      <th>Balance</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    {% for merchant in merchants %}
    <tr>
      <td>{{ merchant.name }}</td>
      <td>{{ merchant.kyc_status }}</td>
      <td>{{ merchant.balance }}</td>
      <td>{{ merchant.status }}</td>
      <td><a href="{% url 'merchant_detail' merchant.id %}">View</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No merchants found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
