# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Ubuntu / Linux file
.Trash-*

# Env files
.env
*.env
.env.local
.env.*.local
