<!-- prettier-ignore -->
{% extends "dashboard/base_admin.html" %} 
{% block title %}Payouts Overview{% endblock %} 
{% block content %}
<h3>Payouts Overview</h3>

<table class="data-table">
  <thead>
    <tr>
      <th>Payout ID</th>
      <th>Employee</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Requested On</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for payout in payouts %}
    <tr>
      <td>{{ payout.id }}</td>
      <td>{{ payout.merchant_name }}</td>
      <td>UGX{{ payout.amount }}</td>
      <td>{{ payout.status }}</td>
      <td>{{ payout.requested_on }}</td>
      <td>
        {% if payout.status == "Pending" %}
        <button class="btn-action">Approve</button>
        {% else %}
        <span class="action-na">N/A</span>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" class="no-data">No payouts found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
