<!-- prettier-ignore -->
{% extends "dashboard/base_staff.html" %} 
 {% block title %}Audit Log{%endblock %} {% block content %}
<h2>Audit Log</h2>

<table class="styled-table">
  <thead>
    <tr>
      <th>Staff User</th>
      <th>Action</th>
      <th>Target</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for log in audit_logs %}
    <tr>
      <td>{{ log.staff_user.username }}</td>
      <td>{{ log.action }}</td>
      <td>{{ log.target }}</td>
      <td>{{ log.timestamp }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No audit logs found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
