{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Staff Dashboard - {{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'css/staff.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="light-mode">
    <div class="dashboard-wrapper">
      <div id="sidebar-overlay"></div>
      <!-- Sidebar -->
      <aside class="sidebar" id="sidebar">
        <div class="sidebar-header">
          <button id="close-sidebar-btn">&times;</button>
          <h2>Staff</h2>
        </div>
        <nav>
          <a href="{% url 'staff:summary_dashboard' %}"
            ><i class="fas fa-tachometer-alt"></i> Dashboard Summary</a
          >
          <a href="{% url 'staff:balance' %}"
            ><i class="fas fa-wallet"></i> Balance</a
          >
          <a href="{% url 'staff:transaction' %}"
            ><i class="fas fa-exchange-alt"></i> Transactions</a
          >
          <a href="{% url 'staff:my_earning' %}"
            ><i class="fas fa-dollar-sign"></i> My Earnings</a
          >
          <a href="{% url 'staff:clients' %}"
            ><i class="fas fa-users"></i> Clients</a
          >
        </nav>
      </aside>

      <!-- Main Content -->
      <div class="main-content">
        <header>
          <!-- Header -->
          <button
            id="hamburger-btn"
            class="hamburger-btn"
            aria-label="Toggle sidebar"
          >
            &#9776;
          </button>
          <div class="header-right">
            <div class="toggle-theme">
              <i class="fas fa-sun"></i>
              <input type="checkbox" id="theme-toggle" />
              <i class="fas fa-moon"></i>
            </div>

            <div class="avatar-dropdown">
              <img
                src="{% static 'dashboard/img/avatar.png' %}"
                alt="User Avatar"
                class="avatar-img"
              />
              <div class="dropdown-menu">
                <a href="{% url 'staff:profile_staff' %}">Profile</a>
                <a href="#">Messages</a>
                <a href="#">Settings</a>
                <a href="{% url 'authenticate:logout' %}">Logout</a>
              </div>
            </div>
          </div>
        </header>

        <!-- Page Content -->
        <main>{% block content %}{% endblock %}</main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/staff.js' %}" defer></script>
  </body>
</html>
